<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <h1> About Us </h1>
    </div>
  </header>
  <article>
  <p> Green Nursery has been serving the local community for over 10 years.  </p>
  </article>
</section>